<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="setting1" value="key"/>
	</appSettings>
	<connectionStrings>
		<add name="LocalDatabase" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Restaurant.Database;Integrated Security=True;"/>
	</connectionStrings>
</configuration>